torch
transformers
uroman
librosa
soundfile
pyloudnorm
pydub
pydantic
groq
gradio
scikit-learn
matplotlib
pytest
datasets
accelerate
python-dotenv
numpy
pandas
scipy
torchvision
edge-tts
Flask
Flask-Login
Flask-SQLAlchemy
Werkzeug
moviepy
playwright
seaborn
tqdm
